#clock{
    position: relative;
    text-align: center;
    margin: auto;
    display: contents;
}
#clock>h1{
    font-size: 5vw;
}

/* Increments */
#increment-container{
    display: flex;
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.increment-label{
    font-size: 2vw;
    margin: 2vw;
}
.increment-row{
    display: flex;
    justify-content: center;
}
.increment-row>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.increment-row>div>p{
    margin: auto;
    font-size: 3vw;
}
.crement-button{
    border: none;
    background-color: white;
}
.increment-button{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: right;
    border: none;

}
.decrement-button{
    width: 40%;
    display: flex;
    align-items: center;
}
.length-display{
    width: 20%;
}
.control-button{
    width: 4vw;
    aspect-ratio: 1/1;
}
.control-button:hover{
    scale: 1.1;
    transition: 0.4s;
}
#session-container{
    width: 50%;
}
#break-container{
    width: 50%;
}

/* Timer */
#timer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}
#timer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2vw solid darkred;
    color: darkred;
}
#timer-label{
    position: absolute;
    top: 2vw;
    width: 100%;
    font-size: 3vw;
}

#time-left{
    position: absolute;
    font-size: 3vw;
}

/* Buttons */
#clock>#buttons-container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}
#clock>#buttons-container>div{
    width: 100%;
      
}
.controls{
    width: 40%;
    aspect-ratio: 1/1;
}
.controls:hover{
    scale: 0.9;
    transition: 0.4s;
}

 



