
#drum-header>h1{
    width: 100%;
    font-size: 5vw;
}
#drum-header{
    display: flex;
    justify-content: center ;
    margin: 5vw;
}
.italic{
    font-size: 3vw;
    font-style: italic;
    font-weight: lighter;
}
    
#drum-body{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.drum-pad{
    width: 10vw;
    height: 10vw;
    margin: 4vw;
    border-radius: 1vw;
    background-color: darkslategrey;
    color: honeydew;
    border: 1vw solid blanchedalmond;
    font-weight: bolder;
    font-size: 2vw;
}
#drum-body>#display{
    width: 30vw;
    aspect-ratio: 1/1;
    margin-left: 30vw;
    font-family: fantasy;
}

