#markdown-previewer{
    display: flex;
    margin-top: -40px;
    height: 94vh;
}

/* Editor */
#editor{
    width: 50%;
    height: 94vh;
}
#editor-header{
    display: flex;
    width: 100%;
    height: 15vw;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    background-color: aqua;
}
#editor-header>img{
    width: 25%;
    height: auto;
    padding: 1.5vw;
}
#editor-header>h1{
    width: 75%;
    display:flex;
    align-items: center;
    font-size: 3vw;
    padding: 0px;
}
#editor-body{
    width: 100%;
    height: 74vh;
    padding: 1vw;
    font-size: 1.2vw;
}

#previewer{
    
    width: 50%;
    height: 94vh;
    
    
}
#previewer-header{
    top: 0px;
    width: 100%;
    height: 15vw;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    z-index: -1;
}
#previewer-header>h1{
    font-size: 3.2vw;
}
#previewer-body{
    top: 15vw;
    width: 100%;
    height: 74vh;
    overflow:auto;
    padding: 1vw;
    border-bottom: 1px solid black;
    font-size: 1.2vw;
}


#root{
    display:block;
    
}
