#root{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#quote-box{
    width: 80%;
    padding: 5vw;
    margin: auto;
    border: 2px pink double;
    background-color: rgb(252, 224, 183);
    text-align: center;
}
.title{
    text-decoration: underline;
    text-underline-offset: 1vw;
    color: rgb(20,133,158);
    font-size: 3vw;
}
#text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 3vw;
    font-size: 2vw;
}
#author{
    font-size: 1.8vw;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#quote-box>#buttons-container{
    display: flex;
    justify-content: center;
}
.round-button{
    width: 12vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    margin-left: 4vw;
    margin-right: 4vw;
}
.round-button:hover{
    scale: 0.9;
    transition: 0.5s;
}

#new-quote{
    background-color: darkcyan;
    border: none;
    color: white;
    font-size: 2vw;
}
#new-quote:hover{
    background-color: aquamarine;
}

